@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.4rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Header */
    --header-height: 75px;
    --minus-header-height: calc(100vh - var(--header-height));
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  header {
    height: var(--header-height);
  }
}

@layer components {
  /* Container */
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }

  .sub-container {
    @apply container mx-auto lg:px-[2rem] xl:px-[3rem];
  }

  /* Underline */
  .underline-primary {
    @apply relative z-20 before:absolute before:content-[''] before:w-full before:h-2 before:rounded-full before:bg-primary/75 before:z-[-1] before:bottom-0 before:-rotate-[1deg];
  }

  /* Overlay */
  .overlay {
    @apply absolute inset-0 bg-black bg-opacity-45 z-10;
  }

  /* Main Rounded */
  .rounded-main {
    @apply rounded-xl;
  }
}

@layer utilities {
  .btn-icon-container {
    @apply flex gap-2 items-center justify-start;
  }

  .header {
    @apply flex flex-col gap-3 py-5;
  }

  .section-h-full {
    height: var(--minus-header-height);
  }

  /* OTP */
  .otp-container {
    @apply flex gap-2 justify-between w-full;
  }

  .otp-slot {
    @apply size-16 border-2 text-3xl;
  }

  /* Logo */
  .logo {
    @apply dark:invert;
  }

  /* Bento grid */
  .bento-grid {
    @apply grid gap-4;
  }

  .bento-element {
    @apply overflow-hidden relative rounded-lg shadow-md cursor-pointer h-[180px];
  }

  .bento-element .centre-p {
    @apply absolute -translate-x-1/2 -translate-y-1/2 z-10 top-1/2 left-1/2 text-2xl w-full flex items-center justify-center font-semibold text-white py-2 px-2 bg-opacity-50 backdrop-blur-md transition-colors;
  }

  .bento-element:hover .centre-p {
    @apply bg-opacity-65;
  }

  .bento-element img {
    @apply object-cover w-full h-full transition-transform duration-700;
  }

  .bento-element:hover img {
    @apply scale-105;
  }

  /* Grid */
  .grid-2 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
  }

  /* Section Header */
  .section-header {
    @apply flex flex-col gap-2 mb-5 mt-8;
  }

  .section-header p {
    @apply text-sm font-medium text-muted-foreground;
  }

  /* Loader */
  .loader {
    @apply size-14 animate-spin duration-700  rounded-full border-2 border-t-primary border-r-primary;
  }
}
